.first {
    background: linear-gradient(rgba(175, 160, 160, 0.8), rgba(164, 152, 152, 0.8)), url("./images/lap3.jpg");
    background-size: cover;
    height: 60vh;
}

.nav-link {
    margin-right: 50px;
    color: white;
}

.image {
    border-radius: 10px;
}

.image-div {
    padding-left: 60px;
}

.description {
    height: 450px;
}

.second-row {
    padding-top: 50px;
}

@media (max-width: 426px) {
    .image-div {
        padding-left: 5px;
    }

    .image {
        width: 290px;
    }

    .description {
        height: 860px;
    }

}